@font-face {
    font-family: cmuSerif;
    src: url('fonts/cmunrm.woff'),
         url('fonts/cmunrm.ttf');
    font-weight:normal;
    font-style: normal;
}
@font-face {
    font-family: cmuSerif;
    src: url('fonts/cmunti.woff'),
         url('fonts/cmunti.ttf');
    font-weight:normal;
    font-style:italic;
}
@font-face {
    font-family: cmuTypewriter;
    src: url('fonts/cmunvt.woff'),
         url('fonts/cmunvt.ttf');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family: cmuTypewriter;
    src: url('fonts/cmunvi.woff'),
         url('fonts/cmunvi.ttf');
    font-weight:normal;
    font-style:italic;
}