html{
    box-sizing: border-box;
    font-family: "cmuTypewriter";
    margin: 0;
    padding: 0;
    font-size:8px;
}
body {
    
    width: 100%;
    height: 97%;
    margin: 0;
    font-size: 1rem;
    /* Prevent document pinch-zoom & touch-hold-to-highlight */
    touch-action: none;

    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
h1{
    font-family:cmuTypewriter;
    padding-left: 4rem;
    font-size: 4rem;
}
.title{
    width: 30%;
}
#main{
    position: fixed;
    height: 100%;
    top: 0;
    z-index:-1;
}
#tool-panel{
    top:15%;
    font-family:cmuTypewriter;
    position : fixed;
    display: block;
    font-size: 2rem;
    margin-left:0rem;

}
#tool-panel ul.tool-group{
    list-style-type: none;
}
#tool-panel button{
    font-family:cmuTypewriter;
}

#tool-panel h3{
    padding-left: 4.5rem;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}
.color-picker{
    display: none;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
    display: none;
    width: 30rem;
    position: relative;
  }
  .slidecontainer.show{
    display: block;
  }
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }